params {
  name = 'test'
  infile = false
  genome_size = false
  resolution = 100000
  order = 'both'
  samples = 1
  clusters = 5
  max_cpu = 4
  max_memory = 4.GB
}

process {
  container = 'lifebitai/jax-sci:latest'
}

profiles {
  docker { docker.enabled = true }
  test {includeConfig 'test.config'}
}

process {
  cpus = params.max_cpu
  memory = params.max_memory
}