manifest {
    homePage    = 'https://github.com/lifebit-ai/jax-sci-nf'
    description = 'jax-sci nextflow'
    mainScript  = 'main.nf'
}

params {
    name = test
    infile = false
    genome_size = false
    resolution = 100000
    order = both
    samples = 1
    clusters = 5
}

process {
  container = 'lifebitai/jax-sci:latest'
}

profiles {
  docker { docker.enabled = true }
}